    <div class="main">
        <div class="name">Редактирование дохода/расхода</div>
        <div class="new-income">
            <input type="text" class="form-control new-income-input" placeholder="Тип..." id="type">
            <input type="text" class="form-control new-income-input" placeholder="Категория..." id="categories">
            <input type="text" class="form-control new-income-input" placeholder="Сумма в $..." id="sum">
            <input type="text" class="form-control new-income-input" placeholder="Дата..." id="date">
            <input type="text" class="form-control new-income-input" placeholder="Комментарий..." id="comment">
            <div class="buttons">
                <button type="button" class="btn btn-success" id="create">Создать</button>
                <button type="button" class="btn btn-danger" id="cancel">Отмена</button>
            </div>
        </div>
    </div>

