<!--<div class="layout d-flex">-->

<!--    <div class="sidebar d-flex flex-column flex-shrink-0  p-3 bg-light" style="width: 280px;">-->
<!--        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none m-3">-->
<!--            <img src="/images/logo.png" alt="">-->
<!--        </a>-->
<!--        <hr>-->
<!--        <ul class="nav nav-pills flex-column mb-auto">-->
<!--            <li class="nav-item">-->
<!--                <a href="#" class="nav-link link-dark" aria-current="page">-->
<!--                    <img src="/images/home2.png" alt="main">-->
<!--                    Главная-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#" class="nav-link link-dark">-->
<!--                    <img src="/images/cash.png" alt="cash">-->
<!--                    Доходы & Расходы-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="mb-1">-->
<!--                <button class="btn btn-toggle d-inline-flex align-items-baseline rounded border-0 collapsed"-->
<!--                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">-->
<!--                    Категории <img src="/images/arrow.png" alt="arrow">-->
<!--                </button>-->
<!--                <div class="collapse" id="dashboard-collapse">-->
<!--                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Доходы</a></li>-->
<!--                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Расходы</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <div class="dropdown">-->
<!--            <div class="cash ms-3 fw-bold">-->
<!--                Баланс: <span class="text-primary fw-bold">500$</span>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <a href="#" class="d-flex align-items-center link-dark text-decoration-none mb-5 mt-5 ms-2"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                <img src="/images/personIcon.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--                <strong>NameLastName</strong>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu text-small shadow" style="">-->
<!--                <li><a class="dropdown-item" href="#">New project...</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--                <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                </li>-->
<!--                <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
    <div class="main">
        <div class="name">Доходы</div>
        <div class="main-item row" id="main">

                        <div class="income-item">
                            <div class="card card-new">
                                <div class="card-body">
                                    <button type="button" class="income-new" id="new">+</button>
                                </div>
                            </div>
                        </div>
        </div>
    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <div class="popup-main">
                <div class="popup-text">Вы действительно хотите удалить категорию?</div>
                <div class="popup-text">Связанные доходы будут удалены навсегда.</div>
            </div>
            <button type="button" class="btn  btn-success" id="yes">Да, удалить</button>
            <button type="button" class="btn btn-danger" id="no">Не удалять</button>
        </div>
    </div>

<!--</div>-->
