    <div class="main">
        <div class="name">Доходы</div>
        <div class="main-item row" id="mainIncome">

                        <div class="income-item">
                            <div class="card card-new">
                                <div class="card-body">
                                    <button type="button" class="income-new" id="new">+</button>
                                </div>
                            </div>
                        </div>
        </div>
    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <div class="popup-main">
                <div class="popup-text">Вы действительно хотите удалить категорию?</div>
                <div class="popup-text">Связанные доходы будут удалены навсегда.</div>
            </div>
            <button type="button" class="btn  btn-success" id="yes">Да, удалить</button>
            <button type="button" class="btn btn-danger" id="no">Не удалять</button>
        </div>
    </div>


