<div class="px-4 py-5 my-5 text-center">
    <div class="logo mb-5">
        <img src="/images/logo.png" alt="logo">
    </div>
    <div class="entrance h3 mb-4">Вход</div>
    <form class="d-flex flex-column align-items-center">
        <div class="col-3 mb-3">
            <div class="input-group" >
                <span class="input-group-text"><img src="/images/mail.png" alt="mail"></span>
                <input type="text" class="form-control" id="email"
                       aria-describedby="inputGroupPrepend2"
                       required placeholder="Электронная почта">
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="input-group">
                <span class="input-group-text" ><img src="/images/lock.png" alt="lock"></span>
                <input type="password" class="form-control" id="password"
                       aria-describedby="inputGroupPrepend2"
                       required placeholder="Пароль">
            </div>
        </div>
        <div class="col-3 mb-4">
            <div class="form-check" id="check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label col-4 mb-1 form-check p-0 text-start" for="gridCheck">
                    Запомнить меня
                </label>
            </div>
        </div>
        <button type="button" class="button btn col-3 text-white" id="process" disabled>
            Войти
        </button>

    <div class="registration col-3 mb-4 text-start mt-1">
        <span>Еще нет аккаунта?</span> <a href="#/signup">Пройдите регистрацию</a>
    </div>
    </form>
</div>
