<div class="main">
    <div class="name" id="content-title">Создание категории дохода/расхода</div>
    <form action="" class="form-category-use">
        <input type="text" class="dropdown-toggle form-control new-income-input " placeholder="Тип...">
        <input class="dropdown-toggle form-control new-income-input " id="dropdownMenuButton1" data-bs-toggle="dropdown"
               aria-expanded="false" type="text" placeholder="Тип...">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown-menu">
        </ul>
        <input type="text" class="form-control new-income-input" placeholder="Сумма в $...">
        <input type="date" class="form-control new-income-input" placeholder="Дата..." name="trip-start"
               min="1800-01-01" max="3000-12-31">
        <input type="text" class="form-control new-income-input" placeholder="Комментарий...">
        <div class="buttons">
            <button type="button" class="btn btn-success px-3" disabled id="create">Создать</button>
            <button type="button" class="btn btn-danger px-3" id="cancel">Отмена</button>
        </div>
    </form>
</div>

