<div class="px-4 py-5 my-5 text-center">
    <div class="logo mb-5">
        <img src="/images/logo.png" alt="logo">
    </div>
    <div class="entrance h3 mb-4">Создайте аккаунт</div>
    <form class="d-flex flex-column align-items-center">
        <div class="col-3 mb-3">
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend"><img src="/images/person.png" alt="person"></span>
                <input type="text" class="form-control" id="name"
                       aria-describedby="inputGroupPrepend"
                       required placeholder="ФИО">
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend1"><img src="/images/mail.png" alt="mail"></span>
                <input type="text" class="form-control" id="email"
                       aria-describedby="inputGroupPrepend1"
                       required placeholder="Электронная почта">
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2"><img src="/images/lock.png" alt="lock"></span>
                <input type="password" class="form-control" id="password"
                       aria-describedby="inputGroupPrepend2"
                       required placeholder="Пароль">
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend3"><img src="/images/lock.png" alt="lock"></span>
                <input type="password" class="form-control" id="passwordRepeat"
                       aria-describedby="inputGroupPrepend3"
                       required placeholder="Повторите пароль">
            </div>
        </div>
        <button type="button" class="btn col-3 bg-primary text-white" disabled id="process">
            Войти
        </button>
    </form>
    <div class="registration align-items-end">
        <span>Уже есть аккаунт?</span> <a href="#/">Войдите в систему</a>
    </div>
</div>
